%h1 Login to Career-Fair Tracker 
%br 
= link_to "Go Home", root_path
%br
%br

%h3{:style => "color: red;"} #{@possible_login_error_message}
%br 
%h5 _________________________________
%h2 you can login with following info... 
%h3 Username: teamMember
%h3 Password: password
%br
%h3 or... 
= link_to "Go strait to dashboard (bypass login)", controller: :dashboards, action: :index, bypass: :true
%h5 _________________________________
%br
%br
= form_tag("/dashboards") do
    = label :login, :user_type, "User Type"
    = text_field(:login, :user_type)
    %br
    = label :login, :username, "Username"
    = text_field(:login, :username)
    %br 
    = label :login, :password, "Password"
    = text_field(:login, :password)
    = submit_tag "Login"