%p#notice= notice
%h1{:style => "text-align:center;"}= @event.name + " Attendance"
= link_to 'Back To Dashboard', dashboard_path
%table
  %thead 
    %tr.student_table_row
      %th First Name
      %th Last Name 
      %th Major 
      %th Graduation Month
      %th Graduation Year
  %tbody 
    -@students.each do |student|
      %tr.student_table_row 
        %td= student.first_name
        %td= student.last_name 
        %td= student.major 
        %td= student.expected_grad_month
        %td= student.expected_grad_year