%h3{:style => "text-align: right; float: right;"}= "#{@userTag}"
%h1{:style => "text-align: center;"}= "#{@user_type} Dashboard" 
%br 
= link_to "Logout", logout_path
%br
%br 
%p= "#{@welcome_message}"
%br
- if @user_type == "Admin"
    = link_to "Edit Profile", edit_admin_path(session[:user_id_for_their_type])
    = link_to "Add Event", new_event_path
    %br 
    = link_to "Edit Events", events_path
    %h2{:style => "text-align: center;"}= "Events" 
    %br
    %table
        %thead 
            %tr 
                %th Event Name 
                %th Event Date 
                %th Start Time 
                %th End Time  
                %th 
        %tbody 
            -@events.each do |event|
                -# - link_to nil, event_path(event) do
                %tr.event_table_row 
                    %td= event.name
                    %td= event.event_date 
                    %td= event.start_time 
                    %td= event.end_time
                    %td= link_to "View Attendance", event_path(event)
%br

-# - link_to nil, {:controller => 'events', :action => 'show', event: event} do


-# if Admin user-type is detected
    -# render the admin dashboard

-# elsif Student user-type is detected
    -# render the student dashboard

-# elsif Recruiter user-type is detected
    -# render the recruiter dashboard