%h1{ :style => "text-align: center;"} Carreer Fair Tracker 
%h2{ :style => "text-align: left;"}= "Edit #{@user_type} Profile" 
%br 
%p= "#{@profile_name}"
%br 
%br 
= link_to "Back to Dashboard", dashboards_path(bypass: :true)
