<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= "Counting to ten"%>
<br/>

<% 10.times do |x| %>
    <%= x + 1 %>
<% end %>

<br/>
<%= link_to("Go to sample",
    {
        :controller => "welcome",
        :action => 'sample'
    }
)%>

<br/>
<br/>
<% if (params.has_key?(:id) && params.has_key?(:random)) %>
    <%= "the id and some other shit was passed"%>
    <br/>
    <%= "Id is: #{@id}"%>
    <br/>
    <%= "Id can also be gotten like this: #{params['id']}"%>
    <br/>
    <%= "other random shit: #{@whateverYouWant}"%>
    <br/>
    <%= "and again gotten like: #{params['random']}"%>
<% end %>