%h1= "Controller: welcome, Action: sample"

%p= "Message from controller: #{@controller_message}"
= link_to "Go to index", controller: "welcome", action: "index"
%br
= link_to "Go to index passing ONLY Id", controller: "welcome", action: "index", id: 69
%br
= link_to "Go to index passing Id and whatever else", controller: "welcome", action: "index", id: 69, random: "Good vibes"

